
    <ion-view view-title="About">
      <ion-content padding="true">
         
            <!-- <div id="animation">
                    <div class="dot"></div>
                </div> -->
                    <div id="map"></div> 
                    <div class="float-button">
                            <span class="height-fix">
                                  <a class="content" ng-click="goHome()">
                                    <i class="ion-android-home" ng-click="moal.show()"> </i>
                                    </a>
                                  </span>
                            </div>
      </ion-content>
    </ion-view>

