<ion-view view-title="Estacion" class="pane">
    <ion-content class="background" scroll="true">
          <ion-refresher on-refresh="doRefresh()"
          pulling-text="Refrescando.."
          refreshingSpinner="circles"
          refreshing-text="Refrescando!"
          refreshing-icon="ion-loading-c">

          </ion-refresher>
      <ion-list>
       <div class="list card" ng-repeat="item in arrayitems">
        <a href="#/tab/home/{{item.NivelID}}" style="background-color:azure;color:rgb(249, 255, 254)">
          <div class="item item-text-wrap">
							<ion-title style="color:black;font-size:20px;font-weight:bold;">
               {{item.Estacion.Name}}
              </ion-title>
							<div class="row">
									<div class="col-50">Indice de calidad del Aire </div>
									<div class="col">
                      <h4 style="color:black;font-weight:bold;font-size:15px">{{item.Calificativo}}</h4>
									</div>
									<div class="col col-bottom">	<h1>{{item.Concentracion}}</h1></div>
									<div class="col">
										
											<div class="progress-outer">
													<div class="progress-inner" ng-style="{'height': getTrColor(item.Concentracion)}">
														
													</div>
											</div>
									
									</div>
							</div>
							<div class="row">
									<div class="col"><p  style="color:black;font-size:20px;font-weight:bold;">{{item.Contaminante.Nombre}}</p>{{item.Concentracion}}
										<hr><p style="font-size:8px;">{{item.Contaminante.Descripcion}}</p> </div>
									<div class="col"><p style="color:black;font-size:20px;font-weight:bold;">O3</p>{{concentracion}} <hr>	</div>
									<div class="col"><p style="color:black;font-size:20px;font-weight:bold;">CO2</p>{{concentracion}} <hr></div>
								
							</div>
							<div class="row">
									<div class="col"></div>
                  <div class="col"></div>
									<div class="col">{{item.Fecha | date }}</div>
							</div>
						
						</div>
      </a>
    </div>
    
    <!-- <div class="list card">
        <div class="item" style="width: 500px; margin: 0 auto;margin-left: -25px;">
                 <div id="container-speed" style="width: 400px; height: 200px;position: center;"></div>
                  
             </div>
         
    </div>
    <div class="progress-outer">
        <div class="progress-inner">
            0%
        </div>
    </div> -->
    
     </ion-list>
     <div class="float-button">
            <span class="height-fix">
                  <a class="content" ng-click="goHome()">
                    <i class="ion-android-home" ng-click="moal.show()"> </i>
                    </a>
                  </span>
            </div>
        <!-- <a class="button icon icon-right ion-chevron-right" ng-click="openModal()">FORM</a> -->
      
    </ion-content>
  </ion-view>
