
    <ion-tabs class="tabs-icon-top">

      <ion-tab class="tab tab-home" title="Estacion" icon="ion-home" href="#/tab/estacion">
        <ion-nav-view class="nav-view-home" name="home-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab class="tab tab-about" title="Ubicacion" icon="ion-ios-location" href="#/tab/about">
        <ion-nav-view class="nav-view-home" name="about-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab class="tab tab-status" title="Start" icon="ion-stats-bars" href="#/tab/status">
        <ion-nav-view class="nav-view-home" name="status-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab class="tab tab-automatico" title="Automatico" icon="ion-stats-bars" href="#/tab/automatico">
        <ion-nav-view class="nav-view-home" name="automatico-tab"></ion-nav-view>
      </ion-tab>

      </ion-tab>

    </ion-tabs>

